language: python
sudo: false
python:
  - 3.8
install:
  - pip install -r requirements.txt
script: py.test mitest.py -v
deploy:
  provider: gae
  keyfile: client-secret.json
  project: planar-rarity-288322
before_install:
- openssl aes-256-cbc -K $encrypted_2fd045226a67_key -iv $encrypted_2fd045226a67_iv
  -in client-secret.json.enc -out client-secret.json -d
